$fuente_principal: 'Montserrat', sans-serif;

//* Colores
$color_principal: #e4e3E2;
$color_secundario: #e4e392;
$negro: #000000;
$blanco: #ffffff;

// * Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
